/* 1px = 0.0625rem */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2833;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}
/* Mobile View */
/* Nav */
.navbar {
  background-color: #0b0c10;
  padding: 5px 20px;
}
.nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Shadows Into Light", cursive;
}
.toggle {
  order: 1;
}
.nav-item.button {
  order: 2;
}
.nav-item {
  font-size: 1rem;
  padding: 15px 5px;
  white-space: nowrap;

  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.nav-item.active {
  display: block;
}
.logo a,
.toggle a {
  font-size: 1.25rem;
  color: #66fcf1;
}
.nav-link {
  color: #ffffff;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: none;
}
.button.secondary {
  border-bottom: 1px #66fcf1 solid;
}
/* Footer */
/* main */
footer ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #0b0c10;
  color: #c5c6c7;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #fff;
}
.ft-title {
  color: #66fcf1;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}
/* newsletter */
footer form {
  display: flex;
  flex-wrap: wrap;
}
footer input[type='email'] {
  flex: 1;
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
footer input[type='submit'] {
  background-color: #45a29e;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #66fcf1 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* legal */
.ft-legal {
  padding: 0.9365rem 1.875rem;
  background-color: #1f2833;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}
/* Tablet View */
@media all and (min-width: 640px) {
  /* Nav */
  .nav {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  .nav-item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    color: #fff;
    background-color: #45a29e;
    border: 1px #45a29e solid;
  }
  .button.secondary a {
    color: #fff;
    background-color: transparent;
  }
  .button a:hover {
    text-decoration: none;
  }
  /* Footer */
  .ft-main {
    justify-content: space-around;
  }
}
/* Desktop View*/
@media all and (min-width: 1024px) {
  /* Nav */
  .nav-item {
    display: block;
    padding: 15px 10px;
    width: auto;
    order: 1;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 1;
  }
  .button {
    padding-right: 0;
    order: 2;
  }
  /* Footer */
  .ft-main {
    justify-content: space-evenly;
  }
}
